<footer class="main-footer">
	<div class="footer-content">
		<div class="container">
			<div class="footer-content-info">
				<div class="footer-logo">
					<a href="#">
						<img src="{{ site.theme.link }}/assets/images/logo.png" alt="">
					</a>
				</div>
				<div class="footer-phone"><a href="tel:{{ phone }}">{{ phone }}</a></div>
				<div class="footer-callback">
					<a class="all-page-link" href="#" v-on:click.prevent="showModal('modal-window--callback')">Обратный звонок</a>
				</div>
				<div class="footer-contacts">
					<p>г. Владимир, ул. Фатьянова 18а</p>
					<p>
						Тел./факс: {{ phone }}<br>	
						E-mail: {{ mail }}
					</p>
				</div>
			</div>
			<div class="footer-content-menu">
				<ul>
					{% for item in menu_footer_projects.get_items %}
					<li class="{{item.class}}">
						<a href="{{ item.link }}">{{ item.title }}</a>
					</li>
					{% endfor %}    
				</ul>
			</div>
			<div class="footer-content-menu">
				<ul>
					{% for item in menu_footer_about.get_items %}
					<li class="{{item.class}}">
						<a href="{{ item.link }}">{{ item.title }}</a>
					</li>
					{% endfor %}   
				</ul>
			</div>
		</div>
	</div>
	<div class="under-footer">
		<div class="container">
			<div class="under-footer-link"><a href="{{ site.link }}/goroda">Города</a></div>
			<div class="under-footer-link"><a href="{{ site.link }}/sitemap">Карта сайта</a></div>
			<div class="under-footer-link"><a href="{{ site.link }}/privacy-policy">Политика конфиденциальности</a></div>
			<div class="under-footer-link"><a href="https://is-art.ru/" target="_blank" rel="noopener">Сайт разработан студией IS ART</a></div>
		</div>
	</div>

</footer>
{% include "partials/modal.twig" %}
</div>
{{ function('wp_footer') }}
<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>

</body>

</html>