<!DOCTYPE html>

<html {{ site.language_attributes }}>
	<head>
		<meta charset="{{ site.charset }}" />
		<title>
			{% if wp_title %}
				{{ wp_title }} - {{ site.name }}
			{% else %}
				{{ site.name }}
			{% endif %}
		</title>
			
		<!-- favicon start -->
		<link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192" href="{{ site.theme.link }}/assets/images/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/assets/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/assets/images/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/assets/images/favicon/favicon-16x16.png">
		<link rel="manifest" href="{{ site.theme.link }}/assets/images/favicon/manifest.json">
		<link rel="shortcut icon" href="{{ site.theme.link }}/assets/images/favicon/favicon.ico">
		<!-- favicon end -->
				
		<meta name="description" content="{{ site.description }}">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="author" href="{{ site.theme.link }}/humans.txt" />
		<link rel="pingback" href="{{ site.pingback_url }}" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
		{{function('wp_head')}}
</head>

<body class="{{ body_class }}">
	<div id="app">
    <header class="main-header">
     	<div class="container">
     		<div class="main-header-logo">
				 <a href="{{ site.link }}">
					 <img src="{{ site.theme.link }}/assets/images/logo.svg" alt="">
				</a>
			</div>
     		<div class="main-header-menu">
     			<ul>
					{% import 'partials/menus.twig' as menus %}
					{{ menus.menu_list(menu_header.get_items) }}
     			</ul>
     		</div>
     		<div class="main-header-callback">
				 <a class="all-page-link" href="#" v-on:click.prevent="showModal('modal-window--callback')">Обратный звонок</a>
			</div>
     	</div>
    </header>