<nav class="navigation pagination">
    <ul class="nav-links vue-pagination">
        {% for page in posts.pagination.pages %}
            {% if page.link %}
                <li class="page-numbers {{page.class}}">
                    <a href="{{page.link}}">{{page.title}}</a>
                </li>
            {% else %}
                <span aria-current="page" class="page-numbers {{page.class}}">{{page.title}}</span>
            {% endif %}
        {% endfor %}
    </ul>
</nav>