{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="seo-title">
		<div class="container">
			<h1>{{ title }}</h1>
		</div>
	</div>
	<!-- <div class="products-filter">
		<div class="container">
			<form action="">
				<div class="filter-row">
					<p class="label-text">Выберите желаемые материалы для постройки дома</p>
					<select name="" id="">
						<option value="">Кирпич</option>
						<option value="">Брус</option>
						<option value="">Газобетон</option>
					</select>
				</div>
				<div class="filter-row">
					<p class="label-text">Площадь</p>
					<div class="filter-column"><input type="number" placeholder="От"></div>
					<div class="filter-column"><input type="number" placeholder="До"></div>
				</div>
				<div class="filter-row">
					<p class="label-text">Желаемая этажность дома</p>
					<input type="text" placeholder="Пример">
				</div>
			</form>
		</div>
	</div>
	<div class="sorting_block">
		<div class="container">
			<div class="sorting_block-inner">
				<div class="number-of-posts">Отображение 1-12 из 92 результатов</div>
				<div class="sorting-value">
					<select name="" id="">
						<option value="">Исходная сортировка</option>
						<option value="">По цене</option>
						<option value="">По цене</option>
					</select>
				</div>
			</div>
		</div>
	</div> -->
	<div class="our-works">
		<div class="container">
			<div class="our-works-inner">
				{% if posts is not empty  %}
					{% for post in posts %}
						<a href="{{ post.link }}" class="our-works-item" style="background: linear-gradient(360deg, #000000 3.07%, rgba(89, 89, 89, 0) 43.4%),url({{ post.thumbnail.src }})">
							<div class="our-works-item-content">
								<div class="our-works-item-name">{{ post.title }}</div>
								<div class="our-works-item-info">
									<div class="our-works-item-size">{{ post.get_field("общая_площадь") }} М2</div>
									<div class="our-works-item-price">от {{ post.get_field("минимальная_стоимость") }} P</div>
								</div>
							</div>
						</a>
					{% endfor %}
				{% else %}
					<div class="not-content">
						Категория пуста
					</div>
				{% endif %}
			</div>
			{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		</div>
	</div>


</main>
{% include "partials/footer.twig" %}