{% include "partials/header.twig" %}
<main class='main-content'>
	<div class="seo-title">
		<div class="container">
			<h1>{{ post.title }}</h1>
		</div>
	</div>
	<div class="page-info_block">
		<div class="container">
			<div class="all-page-title">{{ top_title }}</div>
			<div class="page-info_block-text">
				{{ top_text }}
			</div>
		</div>
	</div>
	<div class="contacts_block">
		<div class="container">
			<div class="contacts_block-phone">Наш телефон:<a href="tel:{{ phone }}">{{ phone }}</a></div>
			<a class="all-page-link big fix-width contacts-link" href="{{ site.link }}/contacts">Контакты</a>
		</div>
	</div>
	<div class="gallery-works" style="padding: 50px 0 25px;">
		<div class="container">
			<div class="all-page-title">Галерея проводимых нами работ</div>
			<div class="gallery-works-inner">
				{% for image in gallery %}
					<a data-fancybox="" class="gallery-item" href="{{ Image(image) }}"><img src="{{ Image(image) }}" alt=""></a>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="our-works">
		<div class="container">
			<div class="all-page-title" style="margin-bottom: 50px;">Проекты домов</div>
			<div class="our-works-inner">

                {% for post in random_prod %}
				
					<a href="{{ post.link }}" class="our-works-item" style="background: linear-gradient(360deg, #000000 3.07%, rgba(89, 89, 89, 0) 43.4%),url({{ post.thumbnail.src }})">
                            <div class="our-works-item-content">
                                <div class="our-works-item-name">{{ post.title }}</div>
                                <div class="our-works-item-info">
                                    <div class="our-works-item-size">{{ post.get_field("общая_площадь") }} М2</div>
                                    <div class="our-works-item-price">от {{ post.get_field("минимальная_стоимость") }} P</div>
                                </div>
                            </div>
                        </a>
                {% endfor %}    
			</div>
			<a href="" class="all-page-link big view-all">Все проекты</a>
		</div>
	</div>
	<div class="individual-project_block">
		<div class="container">
			<div class="individual-project_block-before-title">Мы разработаем для Вас</div>
			<div class="individual-project_block-title">Индивидуальный проект</div>
			<div class="individual-project_block-text">Если вы не можете найти подходящий Вам дом, наша компания всегда рада прислушаться к каждому пожеланию заказчика и создать уникальный проект дома отвечающий всем вашим требованиям.</div>
			<div class="individual-project_block-links">
				<a href="{{ site.link }}/product-category/proekty-domov/" class="all-page-link big fix-width">Типовые проекты</a>
				<a href="" class="all-page-link big fix-width" v-on:click.prevent="showModal('modal-window--callback')">Оставить заявку</a>
			</div>
		</div>
	</div>
	<div class="construction-stages">
		<div class="container">
			<div class="all-page-title">{{ bottom_title }}</div>
			<div class="all-page-text">
				{{ bottom_text }}
			</div>
		</div>
	</div>
</main>
{% include "partials/footer.twig" %}