{% include "partials/header.twig" %}
<main class='main-content'>
<div class="seo-title">
		<div class="container">
			<h1>{{ post.title }}</h1>
		</div>
	</div>
	<div class="who-we-are_short">
		<div class="container">
			<div class="who-we-are_short-content">
				<div class="who-we-are_short-text">
					{{ post.content }}
				</div>
				<div class="who-we-are_short-links">
					<a href="#prices" class="all-page-link big fix-width">Цены</a>
					<a href="#gallery" class="all-page-link big fix-width">Наши работы</a>
					<a href="#" class="all-page-link big fix-width" v-on:click.prevent="showModal('modal-window--callback')">Обратный звонок</a>
				</div>
			</div>
			<div class="who-we-are_short-image">
				<img src="{{ site.theme.link }}/assets/images/building.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="foundation-catalog" id="foundation">
		<div class="container">
			<h2 class="all-page-title">{{ post.title }}</h2>
			{% if Post(services) %}
			<div class="our-works-inner">
				{% for item in Post(services)%}
					<a href="{{ item.link }}" class="foundation-item">
                        <img src="{{ item.thumbnail }}" alt="{{ item.title }}" class="foundation-item-thumbnail">
						<div class="foundation-item-name">{{ item.title }}</div>
					</a>
				{% endfor %}
			</div>
			{% endif %}
			<div class="foundation-text-building">
				{{ post.services_text }}
			</div>
		</div>
	</div>
	{% if Post(services) %}
	<div class="foundation-prices" id="prices">
		<div class="container">
			<div class="all-page-title"><h2>Стоимость наших услуг</h2></div>

			<div class="foundation-prices-slick">
				{% for item in Post(services) %}
					<div class="foundation-prices-item">
						<div class="foundation-prices-item-name">{{ item.title }}</div>
						<div class="foundation-prices-item-before-value">от</div>
						<div class="foundation-prices-item-value">{{ item.service_price }} ₽</div>
						<div class="foundation-prices-item-link"><a class="all-page-link big full-width no-margin" href="{{ item.link }}">Подробнее</a></div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% endif %}
	{% if gallery %}
	<div class="gallery-works" id="gallery">
		<div class="container">
			<div class="all-page-title">Наши работы</div>
			<div class="gallery-works-inner">
                {% for image in gallery %}
                    <a data-fancybox="" class="gallery-item" href="{{ Image(image) }}"><img src="{{ Image(image) }}" alt=""></a>
                {% endfor %}
            </div>
		</div>
	</div>
{% endif %}
</main>
{% include "partials/footer.twig" %}