{% include "partials/header.twig" %}
<main class='main-content'>
    <div class="seo-title">
        <div class="container">
            <h1>ПРОЕКТ ДОМА «КЁЛЬН»</h1>
        </div>
    </div>
    <div class="product-slider">
        <div class="product-slick-for">
            {% for item in 0..4 %}
            <div class="product-slick-for-content">
                <img src="{{ site.theme.link }}/assets/images/product.jpg" alt="">
            </div>
            {% endfor %}
        </div>
        <div class="product-slick-nav">
            {% for item in 0..4 %}
            <div class="product-slick-nav-content">
                <img src="{{ site.theme.link }}/assets/images/product.jpg" alt="">
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="product-information">
        <div class="container">
            <div class="product-information-column">
                <div class="product-information-title">О ПРОЕКТЕ</div>
                {% for item in 0..1 %}
                <div class="scheme-item">
                    <div class="scheme-item-name">Первый этаж</div>
                    <div class="scheme-item-img">
                        <a href="">
                            <img src="{{ site.theme.link }}/assets/images/scheme.jpg" alt="">
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="product-information-column">
                <div class="product-information-column-inner">
                	<div class="technical-specifications-name">Характеристики</div>
                    <div class="complectaions-content">        
                        <div class="complectaions-content-inner" id="c1">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Общая площадь</td>
                                        <td>117,6</td>
                                    </tr>
                                    <tr>
                                        <td>Жилых комнат</td>
                                        <td>4</td>
                                    </tr>
                                    <tr>
                                        <td>Этажность</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>Мансарда</td>
                                        <td>Есть</td>
                                    </tr>
                                    <tr>
                                        <td>Габариты</td>
                                        <td>6х9</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="complectaions-content-name">Комплектации и цены</div>
                    <div class="buy-house_button-info">Реальная стоимость может отличаться в большую или меньшую сторону.</div>
                    <div class="complectations-list">
                        <table>
                                <tbody>
                                    <tr>
                                        <td>Брус</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Профилированный брус</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Клееный брус</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Каркасный дом</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Керамзитоблок</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Газобетон</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Силикатные блоки</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>SIP-панели</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Лафет</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Кирпич</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                    <tr>
                                        <td>Оцилиндрованное бревно</td>
                                        <td>1 587 600 P</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>

                    <a href="" class="buy-house_button">Рассчитать стоимость</a>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="product-description">
        <div class="container">
            <div class="all-page-text">
                <p>«Фрида» — хороший дом для длительного проживания. Площадь строения 117,6 квадратных метров, а его габариты 6х9. Мы будем рады возвести дом по этому проекту. Итоговая стоимость постройки дома зависит от комплектации. Дополнительно мы можем бесплатно сделать перепланировку проекта или построить дом по любому вашему проекту либо эскизу.</p>
            </div>
        </div>
            <div class="variations-complectations">
            	<div class="tab-buttons">
            		<div class="container">
            			<div class="tab-buttons-name">Варианты комплектации</div>
            			<div class="tab-buttons-content">
            				<div class="tab-button" data-id="v1">Каркас</div>
            				<div class="tab-button" data-id="v2">Газоблок</div>
            				<div class="tab-button" data-id="v3">Кирпич</div>
            				<div class="tab-button" data-id="v4">Брус</div>
            				<div class="tab-button" data-id="v5">Бревно</div>
            				<div class="tab-button" data-id="v6">SIP-панели</div>
            			</div>
            		</div>
            	</div>
            	<div class="tab-content">
            		<div class="tab-content-inner" id="v1">
            			<div class="tab-content-inner-top">
            				<div class="container">
            					<div class="tab-content-name">Комплектация каркасных домов</div>
            					<div class="tab-content-basement">
            						<div class="tab-content-basement-name">Фундамент</div>
            						<div class="tab-content-basement-column">
            							<p>Свайно-винтовой</p>
            							<ul>
            								<li>ВС-108/300/2500мм, ТУ 5260-001-84045723-2011</li>
            								<li>Сваи закручиваются с использованием спецтехники</li>
            								<li>Толщина стенки сваи 4 мм, толщина лопасти 5 мм</li>
            								<li>Внутри сваи заполняются бетонной смесью М300</li>
            								<li>Сваривается металлический оголовок, 200*200 мм</li>
            								<li>Свая покрыта 2-х компонентным заводским защитным составом</li>
            							</ul>		
            						</div>
            						<div class="tab-content-basement-column">
            							<p>Ленточный</p>
            							<ul>
            								<li>Высота цоколя 600 мм, ширина ленты 300 мм</li>
            								<li>Высота цоколя 600 мм, ширина ленты 300 мм</li>
            								<li>Высокопрочная арматура d12 мм класса АIII</li>
            								<li>Бетон заводского изготовления, марки М300 (B22,5)</li>	
            							</ul>
            						</div>
            					</div>
            				</div>
            			</div>
            			<div class="container">
            			<div class="gallery-columns">
            				<div class="gallery-column">
            					<img src="{{ site.theme.link }}//assets/images/fundam.jpg" alt="">
            				</div>
            				<div class="gallery-column">
            					<img src="{{ site.theme.link }}//assets/images/fundam.jpg" alt="">
            				</div>
            			</div>
            			<div class="quote-content"><p>Используется двойная гидроизоляция фундамента.</p></div>
            			<div class="tab-content-name">Силовой каркас</div>
            			<div class="tab-content-basement">
            				<div class="tab-content-basement-column">
            					<p>Свайно-винтовой</p>
            					<ul>
            						<li>Лаги цокольного перекрытия усиленные, изготавливаются из доски 50*200 мм, с шагом не более 580 мм</li>
            						<li>Лаги межэтажного перекрытия усиленные, изготавливаются из строганной доски камерной сушки 1 сорта 50*200 мм (14-18% влажность), с шагом не более 580 мм</li>
            					</ul>		
            				</div>
            				<div class="tab-content-basement-column">
            					<p>Наружные и внутренние несущие стены</p>
            					<ul>
            						<li>Обвязка каркаса: брус 150*150 мм</li>
            						<li>Вертикальные стойки из строганной доски камерной сушки (14-18% влажность), 1 сорта, 150*50 мм</li>
            						<li>Шаг стоек не более 580 мм, с использованием усиленной крепежной системы и дополнительной защитой каркаса от «мостиков холода»</li>
            						<li>Для защиты каркаса: внешняя сторона — четырехслойная диффузионная мембрана, внутренняя сторона трёхслойная полиэтиленовая плёнка</li>	
            					</ul>
            				</div>
            				<div class="tab-content-basement-column">
            					<p>Межкомнатные перегородки</p>
            					<ul>
            						<li>Вертикальные стойки из строганной доски камерной сушки (14-18% влажность), 1 сорта, 100*50 мм.</li>
            						<li>С обеих сторон стойки каркаса монтируются паропроницаемой мембраной Изоспан.</li>
            					</ul>		
            				</div>
            				<div class="tab-content-basement-column">
            					<p>Внутренние несущие стены и перегородки</p>
            					<ul>
            						<li>Усиленная стропильная система из доски 200*50 мм, 1 сорта, с шагом 580 мм.</li>
            						<li>Для защиты кровельной системы: внешняя сторона — четырехслойная диффузионная мембрана, внутренняя сторона —  трёхслойная полиэтиленовая плёнка.</li>
            					</ul>		
            				</div>
            			</div>
            			<div class="quote-content"><p>Все деревянные конструкции антисептируются в два слоя, специальным огне-био защитным составом. Монтаж силового каркаса дома производится с применением оцинкованной крепежной системой с двойным усилением.</p></div>
            			<div class="tab-content-text">
            				<img src="{{ site.theme.link }}//assets/images/fundam.jpg" alt="">
            			<h2>Теплоизоляция из экологически чистого плитного базальтового утеплителя ROCKWOOL ЛАЙТ БАТТС или Paroc EXTRA</h2>
            				<ul>
            					<li>Наружные стены —  в 3 слоя (150 мм).</li>
            					<li>Межкомнатные перегородки — в 2 слоя (100 мм)</li>
            					<li>Межэтажные перекрытия — в 2 слоя (100 мм)</li>
            					<li>Чердачное перекрытие (потолок второго этажа) — в 3 слоя (150 мм)</li>
            				</ul>     			
            			<h2>Кровля — металлочерепица</h2>			
            				<ul>
            					<li>Покрытие: полиэстер, с гарантией качества 15 лет</li>
            					<li>Первый класс цинкования – 275 г/кв.м</li>
            					<li>Толщина стали: 0,5 мм</li>
            					<li>Цвета в ассортименте</li>
            				</ul>
            				<img src="{{ site.theme.link }}//assets/images/fundam.jpg" alt="">
            				<h2>Наружная отделка фасада</h2>
            				<ul>
            					<li>Влагостойкая плита OSB-3, 2500*1250*9 мм (Egger/Kalevala, класс Е1)</li>
            					<li>Вентилируемый фасад: контробрешетка из бруса 35*35 мм</li>
            					<li>Монтируются крашеные оцинкованные отливы на цоколь по наружному периметру</li>
            				</ul>
            				<h2>Внутренняя отделка стен</h2>
            				<p>Влагостойкая плита OSB-3, 2500*1250*9 мм</p>
            				<h2>Окна</h2>
            				<ul>
            					<li>Оконные конструкции ПВХ REHAU SIB-Design, стандартных размеров</li>
            					<li>Толщина профиля 70мм</li>
            					<li>2-х камерный стеклопакет (3 стекла), 5-ти камерный профиль (цвет белый), противомоскитные сетки</li>
            					<li>Фурнитура: ROTO NT</li>
            				</ul>
            			</div>
            		</div>
            	</div>
            </div>
            </div>
    </div>
    <div class="individual-project">
	<div class="container">
		<div class="individual-project-title">Индивидуальный проект</div>
		<div class="individual-project-text">Если вы не можете найти подходящий Вам дом, наша компания всегда рада прислушаться к каждому пожеланию заказчика и создать уникальный проект дома отвечающий всем вашим требованиям.</div>
		<div class="individual-project-links">
			<a class="individual-project-link all-page-link" href="#" v-on:click.prevent="showModal('modal-window--callback')">Заявка на бесплатную консультацию</a>
			<a class="individual-project-link all-page-link" href="{{ site.link }}/shop">Каталог типовых проектов</a>
		</div>
	</div>
</div>
<div class="popular-projects" style="background-color: #fff;">
	<div class="container">
		<div class="main-page-title">Похожие проекты</div>
		<div class="under-title">На основе многлетнего опыта мы подготовили подборку наиболее практичных проектов</div>
	</div>
	<div class="projects-slick">
		{% for post in 0..4 %}
			<div class="projects-slick-content">
				<div class="projects-slick-content-inner">
					<div class="projects-slick-content-img">
						<a href="{{ post.link }}">
							<img src="{{ site.theme.link }}/assets/images/project.jpg" alt="">
						</a>
					</div>
					<div class="projects-slick-content-info">
						<div class="projects-content-before-name">Дома из</div>
						<div class="projects-content-name">Газобетона</div>
						<div class="projects-content-price">От 12 000 ₽ м2</div>
						<div class="projects-content-text">Это материал лучшее соотношение цена/качество в настощяее время. Это материал лучшее соотношение цена/качество в настощяее время. Это материал лучшее соотношение цена/качество в настощяее время.</div>
						<div class="projects-content-links">
							<a class="buy-link all-page-link" href="#" v-on:click.prevent="showModal('modal-window--callback')">Рассчитать стоимость</a>
							<a class="view-more" href="{{ post.link }}">Узнать больше</a>							
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
</main>
{% include "partials/footer.twig" %}