{% include "partials/header.twig" %}
<main class='main-content'>
<div class="main-banners">
	<div class="main-slick">
		{% for banner in banners %}
			<div class="main-slick-content" style="background-image: url({{ banner.image }});">
				<div class="container">
					<div class="banner-content">
						<div class="banner-links">
							<ul>
								<li><a href="{{ site.link }}/shop/">газобетон</a></li>
								<li><a href="{{ site.link }}/shop/">бревно</a></li>
								<li><a href="{{ site.link }}/shop/">керамический блок</a></li>
								<li><a href="{{ site.link }}/shop/">брус</a></li>
							</ul>
						</div>
						<div class="banner-title">
							<span>{{ banner.title }}</span>
						</div>
						<div class="banner-text">{{ banner.desc }}</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="main-page-triggers">
	<div class="container">
		<div class="trigger-item">
			<div class="trigger-item-img"><img src="{{ site.theme.link }}/assets/images/trigger-1.png" alt=""></div>
			<div class="trigger-item-info">
				<div class="trigger-item-name">Проектирование</div>
				<div class="trigger-item-text">Разрабатываем проекты малоэтажных жилых домов и промышленных объектов</div>
			</div>
		</div>
		<div class="trigger-item">
			<div class="trigger-item-img"><img src="{{ site.theme.link }}/assets/images/trigger-2.png" alt=""></div>
			<div class="trigger-item-info">
				<div class="trigger-item-name">Строительство</div>
				<div class="trigger-item-text">Работы любой сложности - от проектирования до реставрации старинных зданий</div>
			</div>
		</div>
		<div class="trigger-item">
			<div class="trigger-item-img"><img src="{{ site.theme.link }}/assets/images/trigger-3.png" alt=""></div>
			<div class="trigger-item-info">
				<div class="trigger-item-name">Отделочные работы</div>
				<div class="trigger-item-text">Профессиональная внутренняя отделка помещений, четкое соответствие дизайн проекту</div>
			</div>
		</div>
	</div>
</div>
<div class="building-block">
	<div class="container">
		<div class="main-page-title"><h1>Строительство домов {{ city }}</h1></div>
		<div class="under-title">Наша компания имеет опыт в постройке следующих объектов</div>
		<div class="header-block-links">
			<a class="modal-link all-page-link" v-on:click.prevent="showModal('modal-window--callback')" href="#">Заявка на бесплатную консультацию</a>
			
		</div>

        <div class="seo-text tegih">
            
        <div class="block-seo-text-2">
        <h2>Строительство частных домов {{ city }}</h2><p> – довольно сложный процесс, требующий наличия множества знаний и навыков. Возвести дом самостоятельно можно, но на это потребуется много сил, времени и денег. И при этом результат может не соответствовать ожиданиям. Поэтому лучше всего доверить выполнение строительных работ профессионалам с большим опытом. Компания «Дом строй» предлагает услуги проектирования и строительства домов, дач под ключ {{ city }}. <br>
        </p>
        
        </div>

        <div class="block-seo-text-2">
        <img src="{{ site.theme.link }}/assets/images/dom-stroy-dom.jpg" alt="">
        </div>


        <div class="block-seo-text-2">
        <img src="{{ site.theme.link }}/assets/images/dom-stroy-dom-2.jpg" alt="">
        </div>

        <div class="block-seo-text-2">
        <p>
            Наша главная задача - это </p><h2>дом под ключ {{ city }}</h2><p> который подходит по вашему бюджету и будет максимально соответствовать вашей идее. Мы сможем рассказать как сэкономить на строительстве, при этом не потеряв качество и долголетие дома, дадим много советов по обслуживанию коммуникаций и сможем предоставить гарантию на строительство. Более 20 лет мы занимаемся строительством:
        </p>
        
        <ul>
            <li>Кирпичных домов;</li>
            <li>Деревянных домов;</li>
            <li>Каркасных домов;</li>
            <li>Монолитных построек.</li>
        </ul>
        
        
        </div>


        <div class="block-seo-text-2">
            <p>
        На строительство домов {{ city }} цены могут разниться от 10 000 руб за кв/м и выше (под ключ) В основном все упирается в сам материал с которым придется работать и скорость работы. Если вас заботит бюджет, мы сможем вам помочь сэкономить, подсказать как лучше построить чтобы было меньше энергозатрат на отопление в холодный период. </p>
        <h2 class="tegih-zagolovok">Этапы строительства дома под ключ {{ city }}</h2>
        <p>
        Строительство нового дома – длительный и кропотливый процесс, состоящий из нескольких этапов:
        </p>
        </div>
        <div class="block-seo-text-2">
        <img src="{{ site.theme.link }}/assets/images/dom-stroy-dom-3.jpg" alt="">
        </div>

        <div class="block-seo-text-1">
        <ul>
            <li><b>Подбор земельного участка под дом (Если участка не имеется).</b> При этом нужно обязательно обратить внимание как на географическое положение и экологию, так и на возможность проведения различных систем коммуникации. Важна и юридическая сторона данного этапа, неотъемлемым моментом которой является получения разрешения на строительство капитальных домов.</li>
            <li><b>Геодезия.</b> Данный этап обязательно должен предшествовать строительным работам. В процессе изысканий изучается состав почвы и множество других моментов. Полученные сведения используются для расчета нагрузок несущих конструкций и разработки конструктивных решений фундамента.</li>
            <li><b>Составление проекта дома.</b> Проект дома нужен не только как чертеж стен и комнат, а еще для обозначения коммуникаций и просчета холодных мест в доме, чтобы устранить и не допустить промерзания.</li>
            <li><b>Подготовка сметы.</b> Важный этап, на котором производятся расчеты, позволяющие примерно представить размеры будущих расходов при выполнении строительных работ. В процессе работ стоимость, указанная в смете, не меняется.</li>
            <li>Устройство фундамента.Основываясь на результатах геологических изысканий подбирается тип фундамента и его конструктивные особенности.</li>
            <li>Возведение стен. Могут использоваться различные техники домостроения. Обязательно проводится устройство монолитных конструкций и армирование кладки.</li>
            <li>Кровельные работы. Подбирается качественный материал, производится утепление, обустройство влагоизоляции и вентиляции, обработка дерева защитными составами.</li>
            <li>Монтаж дверных, оконных проемов.От качества работ по монтажу окон и дверей зависит теплоэффективность здания. На данном этапе дом приобретает завершенный внешний вид.</li>
            <li>Инженерные работы. Прокладываются различные инженерные коммуникации, без которых невозможна комфортная жизнь: электропроводка, отопление, вентиляция, водоснабжение и так далее.</li>
            <li>Итоговая отделка. Осуществляются отделочные работы и конечная уборка, после которой можно заселяться в новый уютный дом.</li>
        </ul>
        </div>
        

        <div class="block-seo-text-2">
        <img src="{{ site.theme.link }}/assets/images/dom-stroy-dom-4.jpg" alt="">
        </div>
        <div class="block-seo-text-2">
        <p>
        Компания «Дом Строй» проводит строительство домов и коттеджей {{ city }} согласно требованиям СНиПА и ГОСТа, а также проектной, технической и нормативной документации. На каждом этапе строительства мы обеспечиваем максимальный комфорт для клиента. Стоимость услуг и сроки реализации проекта устанавливаются на начальном этапе и сохраняются на протяжении всего процесса.
        <br><br>
        Строительство жилых домов по типовым проектам вместе с черновой отделкой занимает в среднем 3-4 месяца. Мы не только изучаем участок, возводим фундамент и стены, но и подготавливаем необходимые документы, которые затем можно предоставлять госорганам. Для выполнения строительных работ используются лучшие материалы и современное оборудование. По итогу вы получите качественный, практичный и уютный дом и юридическую гарантию надежности несущих элементов строения.
        </p>
        </div>

        
        <div class="block-seo-text-2">
        <p>
        <strong>Наши услуги</strong>

        У нас можно заказать следующие услуги:
        </p>
        <ul>
            <li>строительство индивидуальных жилых домов под ключ;</li>
            <li>индивидуальное проектирование;</li>
            <li>внесение изменений в готовые проекты;</li>
            <li>отделочные работы.</li>
        </ul>
        <p>
        Также предоставляются дополнительные услуги по типу монтажа системы коммуникации и так далее. Стоимость работ можно уточнить у наших специалистов любым удобным способом.
        </p>
        <h2><strong>Преимущества сотрудничества с нами</strong></h2>
        <p>
        Строительство современных домов с нашей компанией имеет ряд преимуществ:
        </p>
        <ul>
            <li>бригады опытных мастеров и специалистов;</li>
            <li>высокое качество выполненных работ;</li>
            <li>строгое соблюдение гарантийных обязательств;</li>
            <li>предоставление детальной и точной схемы;</li>
            <li>строгое соблюдение сроков;</li>
            <li>регулярный отчет перед заказчиком;</li>
            <li>независимый технический надзор;</li>
            <li>высококачественные материалы;</li>
            <li>регулярные акции и скидки;</li>
            <li>лояльная ценовая политика.</li>
        </ul>
        <p>
        У нас можно заказать строительство дома с гаражом или без с различным бюджетом. Мы всегда найдем оптимальный компромисс с финансовыми возможностями клиентов. Более детальную информацию можно узнать по телефону, указанному на сайте.</p>
        </div>
        <div class="block-seo-text-2">
        <img src="{{ site.theme.link }}/assets/images/dom-stroy-dom-5.jpg" alt="">
        </div>
</div>




	</div>
    <div class="container">
        <div class="main-page-title">Построили недавно</div>
        <div class="under-title">По этим проектам мы построили дома и полностью возвели дома под ключ, от фундамента до крыши</div>
    </div>
    <div class="header-block-links">
            <a class="modal-link all-page-link" href="{{ site.link }}/shop">Каталог типовых проектов</a>
        </div>
	<div class="projects-slick">
        

		{% for post in random_prod %}
			<div class="projects-slick-content">
					<div class="projects-slick-content-inner">
					<div class="projects-slick-content-img">
						<a href="{{ post.link }}">
                            <img src="{{ post.thumbnail.src }}" alt="">
                        </a>
					</div>
					<div class="projects-slick-content-info">
                        <div class="projects-content-name">Проект дома {{ post.title }}</div>
                        <div class="projects-content-before-name">Площадь:  {{ post.get_field("общая_площадь") }} м²</div>
                        
                        <div class="projects-content-price">От {{ post.get_field("минимальная_стоимость") }} РУБ</div>
                         <div class="projects-content-text">{{ post.preview.length(18).read_more('') }}</div> 
                        <div class="projects-content-links">
                            <a class="buy-link all-page-link" href="#" v-on:click.prevent="showModal('modal-window--callback')">Рассчитать стоимость</a>
                            <a class="view-more" href="{{ post.link }}">Узнать больше</a>                           
                        </div>
                    </div>
				</div>
			</div>
		{% endfor %}	
	</div>
</div>
<div class="popular-projects">
	<div class="container">
		<div class="main-page-title">Популярные проекты</div>
		<div class="under-title">На основе многлетнего опыта мы подготовили подборку наиболее практичных проектов</div>
	</div>
	<div class="projects-slick">
		{% for post in popular_projects %}
			<div class="projects-slick-content">
				<div class="projects-slick-content-inner">
					<div class="projects-slick-content-img">
						<a href="{{ post.link }}">
                            <img src="{{ post.thumbnail.src }}" alt="">
						</a>
					</div>
					<div class="projects-slick-content-info">
                        <div class="projects-content-name">Проект дома {{ post.title }}</div>
						<div class="projects-content-before-name">Площадь:  {{ post.get_field("общая_площадь") }} м²</div>
						
						<div class="projects-content-price">От {{ post.get_field("минимальная_стоимость") }} РУБ</div>
						<!-- <div class="projects-content-text">{{ post.preview.length(18).read_more('') }}</div> -->
						<div class="projects-content-links">
							<a class="buy-link all-page-link" href="#" v-on:click.prevent="showModal('modal-window--callback')">Рассчитать стоимость</a>
							<a class="view-more" href="{{ post.link }}">Узнать больше</a>							
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<div class="individual-project">
	<div class="container">
		<div class="individual-project-title">Индивидуальный проект</div>
		<div class="individual-project-text">Если вы не можете найти подходящий Вам дом, наша компания всегда рада прислушаться к каждому пожеланию заказчика и создать уникальный проект дома отвечающий всем вашим требованиям.</div>
		<div class="individual-project-links">
			<a class="individual-project-link all-page-link" href="#" v-on:click.prevent="showModal('modal-window--callback')">Заявка на бесплатную консультацию</a>
			<a class="individual-project-link all-page-link" href="{{ site.link }}/shop">Каталог типовых проектов</a>
		</div>
	</div>
</div>
<div class="news-block">
	<div class="container">
		<div class="main-page-title">Новости</div>
		<div class="news-block-content">
			{% for post in news_posts %}
				<a href="{{ post.link }}" class="news-item">
					<div class="news-item-img">
						<img src="{{ site.theme.link }}/assets/images/news.jpg" alt="">
					</div>
					<div class="news-item-info">
						<div class="news-item-date">{{ post.post_date|date('j F Y') }}</div>
						<div class="news-item-text">{{ post.title }}</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
<div class="about-company">
	<div class="container">
		<div class="main-page-title">О компании</div>
		<div class="about-company-text"><p><b>«Дом строй»</b> - это более 100 профессионалов различных специальностей. Строительство каждого объекта {{ city }} ведется несколькими бригадами с различной специализацией: монолитчики, монтажники-кровельщики, каменщики, отделочники, электрики, сантехники и другие. Такой подход позволяет обеспечить высокий уровень качества работ. Контроль бригад ведут прорабы и технический надзор компании. Вы можете лично оценить качество работ домах-образцах или на регулярных экскурсиях на построенные объекты.</p></div>
		<div class="about-company-triggers">
			<div class="about-company-trigger">
				<div class="number">500+</div>
				<div class="text">Построенных объектов</div>
			</div>
			<div class="about-company-trigger">
				<div class="number">600+</div>
				<div class="text">Разработанных проектов</div>
			</div>
			<div class="about-company-trigger">
				<div class="number">10</div>
				<div class="text">Лет надежной работы</div>
			</div>
			<div class="about-company-trigger">
				<div class="number">3</div>
				<div class="text">Региона строительства</div>
			</div>
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}